.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  color: rgb(0, 0, 0);
	font-size: 20px;
}
.header-nv-btns {
	display: flex;
	gap: 10px;
	width: 60%;
}
.login-menu-btns-container {
	display: flex;
	align-items: center;
	gap: 3px;
}
.active-link {
	color: rgb(168, 164, 164);
}
.header-nav-btn {
	font-size: 10px;
	border: none;
}
.header-nav-btn a {
	text-decoration: none;
}
.out-btn,
.login-btn,
.menu-btn  {
	font-size: 10px;
	border: none;
}
.login-btn :hover,
.out-btn :hover,
.menu-btn :hover  {
	color: red;
  cursor: pointer;
}



