.audio-game {
  display: flex;
  justify-content: center;
  align-content: center;
  background: url('https://rslang-team23-alexk08.netlify.app/static/media/audiochallenge-bg.87c1a65c.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


.game-controls {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.game-controls a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 200px;
  height: 60px;
  background: rgb(75, 72, 72);
  margin: 5px;
  transition: .3s;
}

.game-controls a:hover {
  background: rgb(143, 135, 135);
  color: rgb(237, 252, 25);
}