.main-sprint {
  height: 80ch;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10vh;
}

.main-line {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.roller {
  margin-bottom: 50vh;
}
.main-line img {
  height: 30ch; 
  margin-left: 15ch;
}