.home {
 margin: 0 auto;
 height: 1070px;
 background-image: url(../components/assets/img/home-main.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-blend-mode: color;
 background-color: rgb(255, 255, 255, 0.8);
}
.home-title h1 {
	margin-left: 50px;
  font-size: 80px;
	color: rgb(104, 104, 243);
}
.home-title h3 {
	margin-left: 150px;
	font-size: 52px;
	color: brown;
}
.home-main-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.home-links-title {
	text-align: center;
	color: rgb(138, 180, 75);
}
.home-img-girl
 {
	width: 300px;
	margin-left:150px;
}
.home-nav-links {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
}
.home-nav-links a {
	font-size: 30px;
	text-decoration: none;
	color: rgb(108, 68, 201);
}
.home-nav-links a:hover {
	color: red;
}