.schoolbook {
	width: 100%;
	height: 800px;
	background-color: rgb(209, 226, 211);
  color: rgb(122, 117, 117);
	font-size: 20px;
}
.schoolbook-stages {
    margin: 5px;
	  display: flex;
    flex-direction: row;
    gap: 10px;
}
.stage {
	margin-top: 10px;
	width:80px;
	height: 30px;
	display: flex;
	align-items: center;
  justify-content: center;
	border: none;
	border-radius: 5px;
	background-color: #6182d4;
	color: rgb(233, 233, 233);
	cursor: pointer;
}
.stage:hover {
	 color: rgb(238, 132, 132);
	 transition: all ease 0.3s;
}
.stage-title {
	text-align: center;
	font-size: 25px;
	color: rgb(107, 102, 102);
}
.stage a {
	text-decoration: none;
	color: wheat;
	font-size: 14px;
}
.words-sratage-container {
	display: flex;
	gap: 135px;
}
.words-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.words {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	width: 50%;
}
.word-card {
	position: relative;
	width: 220px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 7px;
	background-color: #f3f4f8;
	color: rgb(52, 67, 202);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.4s;
}

.word-card:hover {
   color: rgb(253, 0, 0);
 }
.word-card:focus {
	position: relative;
	width: 220px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 7px;
	background-color: #7188e4;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.4s;
 }
.word {
	margin-bottom: 10px;
	font-size: 22px;
 }
.word-translate {
	font-size: 12px;
	text-align: left;
 }
 .put-in-ndictionary-btn {
	 position: absolute;
	 right: 4px;
	 height: 40px;
	 border: none;
	 color: rgb(218, 132, 132);
 }

