.auth {
	position: absolute;
	top: 100px;
	left: 35%;
	width: 400px;
	height: 600px;
	background-color: rgb(81, 163, 196);
	z-index: 1;
}
.auth-close-btn {
	margin: 16px;
	border: none;
	background-color: rgb(91, 212, 131);
	color: rgb(255, 255, 255);
	border-radius: 30px;
	cursor: pointer;
}
.auth-close-btn:hover {
	background-color: rgb(255, 255, 255);
  color: rgb(201, 54, 54);
}
.auth-hide {
	display: none;
}
.auth-container {
	margin: 0 auto;
	margin-top: 50px;
	width: 80%;
	height: 80%;
}
.auth-title {
	font-size: 20px;
	color: rgb(255, 255, 255);
}
.auth-paragraf {
	font-size: 15px;
	color: rgb(248, 248, 248);
}
.auth-input-container {
	display: grid;
	gap: 10px;
}
.auth-input {
	border: navajowhite;
	font-size: 20px;
	background-color: rgb(220, 234, 255);
}
.auth-submit-btn {
	border-style: none;
	font-size: 20px;
	color: rgb(206, 40, 164);
}
.auth-submit-btn:active {
	background-color: rgb(179, 122, 134);
}
.auth-submit-btn:hover {
	color: rgb(218, 61, 61);
	cursor: pointer;
}
.auth-links-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.auth-link {
	margin-top: 10px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}
.auth-link:hover {
	color: red;
}
.auth-checkbox-title {
	font-size: 20px;
	color: rgb(255, 255, 255);
}