.MuiTypography-body1 {
  display: flex;
  justify-content: center;
}
.MuiPagination-ul  {
  height: 73px;
  display: flex;
  justify-content: center;
}
.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text {
  font-size: 22px;
  color: white;
}
