
.word-view {
	width: 300px;
	height: 600px;
	border-radius: 5px;
	font-size: 14px;
	background-color: #a498db;
	color: white;
}
.word-card-view {
	padding: 10px;
	font-size: 16px;
}
.word-card-view img {
	width: 280px;
	height: 200px;
	border-radius: 5px;
	background-color: transparent;
}
.word-view-word {
	padding: 0;
	margin: 0;
	font-size: 30px;
}
.word-view-word-translate {
  font-size: 20px;
}
.word-view-play-btn {
	margin: 5px;
	width: 25px;
	height: 25px;
  border-radius: 50%;
	border-color: aquamarine;
	background-color: transparent;
	background-image: url(../components/assets/svg/play.svg);
  background-repeat: no-repeat;
	cursor: pointer;
}